<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{"yyyy-MM-dd HH:mm:ss,SSS"} - [%thread] - %logger.%M\(%L\) - %replace(%msg){'(\n)',' '} %replace(%ex){'(\n)','$1 ---> '}%nopex%n</pattern>
        </encoder>
    </appender>

    <!-- A specific FileAppender to track Chat Messages -->
    <appender name="CHAT_MESSAGES_FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Choose the right path for this file based on the application deployment location -->
        <file>chat-message/logs/chat_message.log</file>
        <append>true</append>
        <encoder>
            <!-- TODO: Customize this pattern based on the desired layout -->
            <pattern>[%-5level] %d{"yyyy-MM-dd HH:mm:ss,SSS"} - [%thread] - %logger.%M\(%L\) - %replace(%msg){'(\n)',' '} %replace(%ex){'(\n)','$1 ---> '}%nopex%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.messaging" level="INFO"/>
    <logger name="org.apache.tomcat" level="INFO"/>
    <logger name="org.apache.activemq" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="springfox" level="WARN"/>

    <logger name="CHAT_LOGGER" level="DEBUG">
        <appender-ref ref="CHAT_MESSAGES_FILE" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>